/*-----global-------*/

form.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

button.button__submit {
  width: 100%;
  margin: 1em auto;
  background-color: blue;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: all .3s;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: none;
}

button.button__submit:hover{
  background-color: red;
}

.error-block{
  background-color: #ed4337;
  border-radius: 5px;
  width: 350px;
  margin: 20px auto;
  padding: 5px;
  color: #fff;
}

/*-----------singup-----------------*/

#input-username, #input-password{
  border: 1px solid #000;
  color: rgba(0, 0, 0, 0.5);
}

#input-username::placeholder, #input-password::placeholder{
  color: rgba(0, 0, 0, 255);
}



