.form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.sms{
    width: 70%;
}

.btn-sms{
    width: 30%;
}

textarea{
    border: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
}

.send{
    background: blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    width: 80%;
}